<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>AICAS | 2021 </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="../static/css/bootstrap.min.css">
            <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
            <link rel="stylesheet" href="../static/css/slicknav.css">
            <link rel="stylesheet" href="../static/css/flaticon.css">
            <link rel="stylesheet" href="../static/css/animate.min.css">
            <link rel="stylesheet" href="../static/css/magnific-popup.css">
            <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="../static/css/themify-icons.css">
            <link rel="stylesheet" href="../static/css/slick.css">
            <link rel="stylesheet" href="../static/css/nice-select.css">
            <link rel="stylesheet" href="../static/css/style.css">
            <link rel="stylesheet" href="../static/css/chart.css">
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../static/img/logo/loder.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
                <div class="main-header  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                    <a href="index.html"><img src="../static/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-10">
                                <div class="menu-main d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu f-right d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href={{ url_for('index') }}>HOME</a></li>
                                                <li><a href={{ url_for('organization') }}>ORGANIZATION</a></li>
                                                <li><a href="https://epapers.org/aicas2021/ESR/login.php">PAPER SUBMISSION</a></li>
                                                <li><a href="#">CALL FOR CONTRIBUTION</a>
                                                    <ul class="submenu">
                                                        <li><a href={{ url_for('cpapers') }}>CALL FOR PAPERS</a></li>
                                                        <li><a href={{ url_for('csessions') }}>CALL FOR SPECIAL SESSIONS</a></li>
                                                        <li><a href={{ url_for('ctutorials') }}>CALL FOR TUTORIALS</a></li>
                                                        <li><a href={{ url_for('cdemos') }}>CALL FOR DEMOS</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href={{ url_for('registration') }}>REGISTRATION</a></li>
                                                <li><a href={{ url_for('authorInfo') }}>AUTHOR INFO</a></li>
                                                <li><a href="#">PROGRAM</a>
                                                    <ul class="submenu">
                                                        <!-- <li><a href={{ url_for('programSchedule') }}>PROGRAM SCHEDULE</a></li> -->
                                                        <li><a href={{ url_for('keynoteSpeakers') }}>KEYNOTE SPEAKERS</a></li>
                                                        <li><a href={{ url_for('tutorials') }}>TUTORIALS</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Header End -->
    </header>
    <main>

      <!-- Hero Start -->
      <div class="slider-area ">
          <div class="slider-height2 d-flex align-items-center">
              <div class="container">
                  <div class="row">
                      <div class="col-xl-12">
                          <div class="hero-cap">
                              <h2>Author Info</h2>
                              <nav aria-label="breadcrumb ">
                                  <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                                  <li class="breadcrumb-item"><a href="#">Author Info</a></li>
                                  </ol>
                              </nav>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Hero End -->
        <!-- About Area start -->
        <section class="about-area section-paddingt30">
            <div class="container">
                <div class="row ">
                    <!-- <div class="col-lg-5"> -->
                        <div class="about-caption mb-20">
                            <h3>Registation Payment</h3>

                            <p class="pera1">
                              Registration for the meeting is required for you to present your work.  In order to guarantee inclusion in the conference program one author must be registered by April 11, 2021 23:59 (GMT -0700).
                            </p>
                            <p class="pera1">
                              You are allowed to associated up to two papers to a single registration (non-student rate).
                            </p>
                            <p class="pera1">
                              Click <a href="https://cvent.me/vw5GEw" target="_blank">HERE</a> to register.
                            </p>

                        </div>
                    </div>
            </div>
        </section>
        <section class="about-area section-paddingt10">
            <div class="container">
                <div class="row ">
                    <!-- <div class="col-lg-5"> -->
                        <div class="about-authorInfo mb-50">
                            <h3>Submission Requirments</h3>
                            <ul>
                              <li>In order to have your paper published to the IEEE Xplore digital library, it is required that you present your paper. If you do not make your presentation for any reason, your paper will be excluded from Xplore.</li>
                              <li>Your full paper in PDF format must be submitted no later than April 11, 2021 23:59 (GMT -0700) at this <a href="https://epapers.org/aicas2021" target="_blank">web site</a>. Your paper must comply with the specifications outlined on the web site. Due to publication deadlines, no time extensions will be granted.</li>
                              <li>As you prepare your final submission, make sure to carefully implement comments for improvements as suggested by reviewers. The Technical Program Committee cannot give any further clarification and you do not need to explicitly respond to them.</li>
                              <li>Your final paper will be submitted for plagiarism checking to the IEEE Crosscheck system.</li>
                              <li>Your completed IEEE copyright release must be filed by April 11, 2021 23:59 (GMT -0700). After logging into your author account, click the red "X" in the copyright column of your accepted paper & follow on-screen instructions. This will begin the digital filing process for your copyright release.</li>
                              </ul>
                          </div>
                    </div>
            </div>
        </section>

        <section class="about-area section-paddingt10">
            <div class="container">
                <div class="row ">
                    <!-- <div class="col-lg-5"> -->
                        <div class="about-authorInfo mb-50">
                            <h3>Xplore Compliance Procedure</h3>
                            <p class="pera1">
                            It is required that all PDF submissions be IEEE Xplore compliant. If your file does not meet Xplore compliance it will not be published. To help you meet this requirement, you must FIRST check to ensure that your PDF file is compliant by using the IEEE PDF eXpress system BEFORE you submit your paper to the conference final submission web site.
                            </p>

                              <ul>
                                <li>Go to the IEEE PDF eXpress <a href="https://ieee-pdf-express.org" target="_blank">web site</a></li>
                                <li>Use this conference ID: 51828X</li>
                                <li>Use PDF eXpress to check or create your PDF file</li>
                                <li>Once you have a GOOD PDF file, return to the AICAS 2021 final submission <a href="https://epapers.org/aicas2021" target="_blank">web site</a> and upload your final submission.</li>
                              </ul>
                              <br>

                              <p class="pera1">
                              NOTE: checking your PDF file for compliance and submitting your final paper for publication are two separate procedures. After using the IEEE PDF eXpress system for file compliance, MAKE SURE to return to the AICAS 2021 final submission <a href="https://epapers.org/aicas2021" target="_blank">web site</a> and upload your compliant final submission.
                              </p>


                        </div>
                    </div>
            </div>
        </section>
        <section class="about-area section-paddingt10">
            <div class="container">
                <div class="row ">
                    <!-- <div class="col-lg-5"> -->
                        <div class="about-registration mb-20">
                            <h3>Author Video Instructions</h3>

                            <p class="pera1">
                              Registration for the meeting is required for you to present your work.  In order to guarantee inclusion in the conference program one author must be registered by April 11, 2021 23:59 (GMT -0700).
                            </p>
                            <p class="pera1"><strong>
                              As a basis for the live programming, please be available and be ready to present and answer a live Q&A with attendees following your talk. We request a prerecorded version of your presentation be submitted.
                            </strong></p>
                            <ul>
                              <li>A 3-minute Introduction & Overview pitch will be played back via Zoom with a <i><u>live</u></i> introduction by a Session Chair and a <i><u>live</u></i> Q&A following the playback.</li>
                              <li>The full presentation will be posted "On Demand" for attendees to view at their leisure.</li>
                            </ul>
                            <br>

                            <p class="pera1"><strong>
                              We request you to prepare and upload two (2) videos:
                            </strong></p>
                            <ol>
                              <li><strong>Video 1: A short recording (with webcam if desired) comprised of a personal introduction and brief overview of what your presentation will be on.  Please record this over 2 slides.</strong>
                                <ol>
                                  <li><strong>Slide 1: Presentation Title, Your Name, Affiliation, and Contact Information</strong></li>
                                  <li><strong>Slide 2: Overview of your presentation</strong></li>
                                </ol>
                              </li>
                              <li><strong>Video 2: Recording of your presentation (with webcam if desired) voiced over slides for your presentation. </strong></li>
                            </ol>

                            <p class="pera1"><strong>
                              The videos will be posted within your presentation time slot on the AICAS 2021 on-demand virtual platform. Please note that the files must be a video file in MP4 format (more details below). Please do not try to upload PowerPoint or PDF files.
                            </strong></p>

                            <p class="pera1">
                              Our recommended approach to record a compatible video from the content displayed on your computer screen and voice recorded via the computer microphone, is to record the presentation using Zoom, available to users on most platforms and in most countries.
                            </p>
                            </div>

                        <div class="about-caption">
                            <p class="pera1"><strong>
                              Click <a href="https://ieeetv.ieee.org/ieeetv-specials/recording-your-presentation-with-zoom" target="_blank">HERE</a> to get instructions for recording your presentation with Zoom.
                            </strong></p>

                            <p class="pera1">
                              For Authors located in China who are unable to access Zoom for free, use of the free software <a href="https://obsproject.com/" target="_blank">OBS</a> also allows to capture simultaneously yourself while speaking and your slides:.
                            </p>

                            <p class="pera1">
                              In order for videos to be verified by the technical program committee, there is considerable urgency in preparing and uploading your video. Accordingly, we ask you that you please finalize your video no later than April 25, 2021. This is a <strong>HARD DEADLINE</strong>. Presentations will not be accepted after this date.
                            </p>

                            <p class="pera1"><strong>
                              Guidelines for preparing your videos:
                            </strong></p>
                            <ul>
                              <li>
                                <strong>Video 1: Introduction & Overview  </strong>
                                <ol>
                                  <li>Duration: 3 minutes</li>
                                  <li>File size: 50MB max</li>
                                  <li>Video file format: mp4</li>
                                  <li>Dimensions: Minimum height 720 pixels, aspect ratio: 16:9</li>
                                </ol>
                              </li>

                              <li>
                                <strong>Video 2: Full Presentation </strong>
                                <ol>
                                  <li>Duration: 20 minutes</li>
                                  <li>File size: 250MB max</li>
                                  <li>Video file format: mp4</li>
                                  <li>Dimensions: Minimum height 720 pixels, aspect ratio: 16:9</li>
                                </ol>
                              </li>

                            </ul>

                            <p class="pera1">
                              Please note the final specifications will be checked at the time of submission and files not compliant may not be uploaded.
                            </p>

                            <p class="pera1">
                              Please be sure the video includes the title of the paper, the authors, and a mention to <strong>AICAS 2021</strong>.
                            </p>

                            <p class="pera1"><strong>
                              Uploading your video (Deadline: April 25, 2021)
                            </strong></p>

                            </div>

                            <div class="about-registration mb-50">

                            <p class="pera1"><strong>
                              Speaker Instructions
                            </strong></p>
                            <ol>
                              <li>
                                Visit the Speaker Submission Webform by contacting Kaylin at <a class="email" href="mailto:kkoldziejczak@conferencecatalysts.com" target="_blank"> kkoldziejczak@conferencecatalysts.com</a>
                              </li>
                              <li>
                                Choose which author is the presenting author
                              </li>
                              <li>
                                Fill out your Speaker Information
                                <ol>
                                  <li>Optional
                                    <ol>
                                      <li>Upload a Speaker headshot photo</li>
                                      <li>Include a Speaker Biography in the available text field</li>
                                    </ol>
                                  </li>
                                </ol>
                              </li>
                              <li>
                                Upload your Presentation Data
                                <ol>
                                  <li>Video in mp4 format (max of 250MB is allowed)</li>
                                  <li>Optional: Upload PDF of your presentation slides </li>
                                </ol>
                              </li>
                              <li>
                              Wait for your video to finish uploading into the system
                              </li>
                              <li>
                              Submit the form by selecting the Submit button at the bottom of the screen
                              </li>

                            </ol>


                            <p class="pera1">
                              If you have any issues with uploading your presentation, please contact support at  <a class="email" href="mailto:vsm-submissions@confcats.io">vsm-submissions@confcats.io</a>.
                            </p>
                            <p class="pera1">
                              As a reminder, videos that are not received by the deadline will be considered no-shows in accordance with the non-presented paper policy.
                            </p>
                            <p class="pera1">
                              We hope to make AICAS 2021 a success despite the difficult situation and this virtual conference format. We thank you for your cooperation in this endeavor.
                            </p>

                        </div>
                    </div>
            </div>
        </section>
        <!-- About Area End -->
    </main>
    <footer>
      <!-- Footer Start-->
      <div class="footer-area">
          <div class="container">
             <div class="footer-top footer-padding">
                 <div class="row justify-content-center">
                     <div class="col-lg-6">
                          <div class="footer-top-cap text-center">
                              <img src="../static/img/logo/logo2_footer.png" alt="">
                              <!-- <span><a href="#">hireme@portfolio.com</a></span> -->

                              <p>Email: aicas2021gc@gmail.com</p>
                          </div>
                     </div>
                 </div>
             </div>
          </div>
      </div>
      <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./../static/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./../static/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./../static/js/popper.min.js"></script>
        <script src="./../static/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./../static/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./../static/js/owl.carousel.min.js"></script>
        <script src="./../static/js/slick.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="./../static/js/wow.min.js"></script>
		<script src="./../static/js/animated.headline.js"></script>
        <script src="./../static/js/jquery.magnific-popup.js"></script>

		<!-- Nice-select, sticky -->
        <script src="./../static/js/jquery.nice-select.min.js"></script>
		<script src="./../static/js/jquery.sticky.js"></script>

        <!-- contact js -->
        <script src="./../static/js/contact.js"></script>
        <script src="./../static/js/jquery.form.js"></script>
        <script src="./../static/js/jquery.validate.min.js"></script>
        <script src="./../static/js/mail-script.js"></script>
        <script src="./../static/js/jquery.ajaxchimp.min.js"></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src="./../static/js/plugins.js"></script>
        <script src="./../static/js/main.js"></script>

    </body>
</html>
