<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>AICAS | 2021 </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="../static/css/bootstrap.min.css">
            <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
            <link rel="stylesheet" href="../static/css/slicknav.css">
            <link rel="stylesheet" href="../static/css/flaticon.css">
            <link rel="stylesheet" href="../static/css/animate.min.css">
            <link rel="stylesheet" href="../static/css/magnific-popup.css">
            <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="../static/css/themify-icons.css">
            <link rel="stylesheet" href="../static/css/slick.css">
            <link rel="stylesheet" href="../static/css/nice-select.css">
            <link rel="stylesheet" href="../static/css/style.css">
            <link rel="stylesheet" href="../static/css/timeline.css">
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../static/img/logo/loder.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
                <div class="main-header  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                    <a href="index.html"><img src="../static/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-10">
                                <div class="menu-main d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu f-right d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href={{ url_for('index') }}>HOME</a></li>
                                                <li><a href={{ url_for('organization') }}>ORGANIZATION</a></li>
                                                <li><a href="https://epapers.org/aicas2021/ESR/login.php">PAPER SUBMISSION</a></li>
                                                <li><a href="#">CALL FOR CONTRIBUTION</a>
                                                    <ul class="submenu">
                                                        <li><a href={{ url_for('cpapers') }}>CALL FOR PAPERS</a></li>
                                                        <li><a href={{ url_for('csessions') }}>CALL FOR SPECIAL SESSIONS</a></li>
                                                        <li><a href={{ url_for('ctutorials') }}>CALL FOR TUTORIALS</a></li>
                                                        <li><a href={{ url_for('cdemos') }}>CALL FOR DEMOS</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href={{ url_for('registration') }}>REGISTRATION</a></li>
                                                <li><a href={{ url_for('authorInfo') }}>AUTHOR INFO</a></li>
                                                <li><a href="#">PROGRAM</a>
                                                    <ul class="submenu">
                                                        <li><a href={{ url_for('programSchedule') }}>PROGRAM SCHEDULE</a></li>
                                                        <li><a href={{ url_for('keynoteSpeakers') }}>KEYNOTE SPEAKERS</a></li>
                                                        <li><a href={{ url_for('tutorials') }}>TUTORIALS</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- <div class="header-right-btn f-right d-none d-xl-block ml-20">
                                        <a href="#" class="btn header-btn">Get Free Consultent</a>
                                    </div> -->
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Header End -->
    </header>
    <main>

      <!-- Hero Start -->
      <div class="slider-area ">
          <div class="slider-height2 d-flex align-items-center">
              <div class="container">
                  <div class="row">
                      <div class="col-xl-12">
                          <div class="hero-cap">
                              <h2>Call For Tutorials</h2>
                              <nav aria-label="breadcrumb ">
                                  <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                                  <li class="breadcrumb-item"><a href="#">Call For Tutorials</a></li>
                                  </ol>
                              </nav>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Hero End -->
        <!-- About Area start -->
        <section class="about-area section-paddingt30">
            <div class="container">
                <div class="row ">
                    <!-- <div class="col-lg-5"> -->
                        <div class="about-caption mb-50">
                            <h3>Call For Tutorials</h3>
                            <p class="pera1">The AICAS 2021 organizing committee invites proposals for tutorials. The objective of the tutorial program is to provide participants with an inspiring and informative selection of tutorials that reflect current topics in AI circuits and systems related research and development. Tutorials will cover a one to three-hour period. </p>
                            <p class="pera1">Prospective organizers of tutorial program should submit proposals to the tutorial chair indicating: title of the tutorial, presenter(s) and their short biographies, target audience and prerequisite knowledge of audience, 300 words abstract (for inclusion on webpage and in registration materials), full description (1-2 pages to be used for evaluation), keywords, the detailed contact information of all presenters (and indication of the main contact person). </p>
                          </div>
                    </div>
            </div>
        </section>

        <!-- About Area End -->
        <!-- Time Line Start -->
          <section class="about-area section-paddingt10">

            <!-- <div class="container-fluid blue-bg"> -->
              <div class="container">
                <div class="row">
                  <div class="about-caption">
                      <h3>Tutorial Co-chairs</h3>
                  </div>
                </div>
                <!--path between 0-1-->
                <div class="row timeline">
                  <div class="col-10">
                    <hr/>
                  </div>
                </div>
                <!--first section-->
                <div class="row align-items-center how-it-works">
                  <div class="about-caption col-6">
                    <h5>Priya Panda</h5>
                    <h6>Yale University, USA</h6>
                  </div>
                  <div class="col-6">
                    <a class="email" href="mailto:priya.panda@yale.edu">priya.panda@yale.edu</a>
                  </div>
                </div>
                <!--path between 1-2-->
                <div class="row timeline">
                  <div class="col-10">
                    <hr/>
                  </div>
                </div>
                <!-- second-->
                <div class="row align-items-center how-it-works">
                  <div class="about-caption col-6">
                    <h5>Aida Todri-Sanial</h5>
                    <h6>Laboratoire d'Informatique, de Robotique et de Microélectronique de Montpellier, France</h6>
                  </div>
                  <div class="col-6">
                    <a class="email" href="mailto:todri@lirmm.fr">todri@lirmm.fr</a>
                  </div>
                </div>
                <!--path between 1-2-->
                <div class="row timeline">
                  <div class="col-10">
                    <hr/>
                  </div>
                </div>
              <!-- third-->
              <div class="row align-items-center how-it-works">
                <div class="about-caption col-6">
                  <h5>Jae-sun Seo</h5>
                  <h6>Arizona State University, USA</h6>
                </div>
                <div class="col-6">
                  <a class="email" href="mailto:jaesun.seo@asu.edu">jaesun.seo@asu.edu</a>
                </div>
              </div>
              <!--path between 2-3-->
              <div class="row timeline">
                <div class="col-10">
                  <hr/>
                </div>
              </div>

              <div class="about-caption mb-50">
              </div>
            </div>
          </section>
        <!-- Time Line End -->

    </main>
    <footer>
      <!-- Footer Start-->
      <div class="footer-area">
          <div class="container">
             <div class="footer-top footer-padding">
                 <div class="row justify-content-center">
                     <div class="col-lg-6">
                          <div class="footer-top-cap text-center">
                              <img src="../static/img/logo/logo2_footer.png" alt="">
                              <!-- <span><a href="#">hireme@portfolio.com</a></span> -->

                              <p>Email: aicas2021gc@gmail.com</p>
                          </div>
                     </div>
                 </div>
             </div>
          </div>
      </div>
      <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./../static/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./../static/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./../static/js/popper.min.js"></script>
        <script src="./../static/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./../static/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./../static/js/owl.carousel.min.js"></script>
        <script src="./../static/js/slick.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="./../static/js/wow.min.js"></script>
		<script src="./../static/js/animated.headline.js"></script>
        <script src="./../static/js/jquery.magnific-popup.js"></script>

		<!-- Nice-select, sticky -->
        <script src="./../static/js/jquery.nice-select.min.js"></script>
		<script src="./../static/js/jquery.sticky.js"></script>

        <!-- contact js -->
        <script src="./../static/js/contact.js"></script>
        <script src="./../static/js/jquery.form.js"></script>
        <script src="./../static/js/jquery.validate.min.js"></script>
        <script src="./../static/js/mail-script.js"></script>
        <script src="./../static/js/jquery.ajaxchimp.min.js"></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src="./../static/js/plugins.js"></script>
        <script src="./../static/js/main.js"></script>

    </body>
</html>
