<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>AICAS | 2021 </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="../static/css/bootstrap.min.css">
            <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
            <link rel="stylesheet" href="../static/css/slicknav.css">
            <link rel="stylesheet" href="../static/css/flaticon.css">
            <link rel="stylesheet" href="../static/css/animate.min.css">
            <link rel="stylesheet" href="../static/css/magnific-popup.css">
            <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="../static/css/themify-icons.css">
            <link rel="stylesheet" href="../static/css/slick.css">
            <link rel="stylesheet" href="../static/css/nice-select.css">
            <link rel="stylesheet" href="../static/css/style.css">
            <link rel="stylesheet" href="../static/css/chart.css">
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../static/img/logo/loder.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
                <div class="main-header  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                    <a href="index.html"><img src="../static/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-10">
                                <div class="menu-main d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu f-right d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href={{ url_for('index') }}>HOME</a></li>
                                                <li><a href={{ url_for('organization') }}>ORGANIZATION</a></li>
                                                <li><a href="https://epapers.org/aicas2021/ESR/login.php">PAPER SUBMISSION</a></li>
                                                <li><a href="#">CALL FOR CONTRIBUTION</a>
                                                    <ul class="submenu">
                                                        <li><a href={{ url_for('cpapers') }}>CALL FOR PAPERS</a></li>
                                                        <li><a href={{ url_for('csessions') }}>CALL FOR SPECIAL SESSIONS</a></li>
                                                        <li><a href={{ url_for('ctutorials') }}>CALL FOR TUTORIALS</a></li>
                                                        <li><a href={{ url_for('cdemos') }}>CALL FOR DEMOS</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href={{ url_for('registration') }}>REGISTRATION</a></li>
                                                <li><a href={{ url_for('authorInfo') }}>AUTHOR INFO</a></li>
                                                <li><a href="#">PROGRAM</a>
                                                    <ul class="submenu">
                                                        <!-- <li><a href={{ url_for('programSchedule') }}>PROGRAM SCHEDULE</a></li> -->
                                                        <li><a href={{ url_for('keynoteSpeakers') }}>KEYNOTE SPEAKERS</a></li>

                                                        <!-- <li><a href={{ url_for('tutorials') }}>TUTORIALS</a></li> -->
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- Hero Start -->
        <div class="slider-area ">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap">
                                <h2>Keynote Speakers</h2>
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Keynote Speakers</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--================Blog Area =================-->
        <section class="blog_area single-post-area">
           <div class="container">
              <div class="row">
                 <div class="col-12 posts-list">
                    <div class="blog-author">
                       <div class="media">
                         <div class="container">
                            <img src="../static/img/blog/shaojun_wei.png" alt="">
                          </div>
                          <!-- <div class="media-body"> -->
                             <div class="blog_details col-8">
                               <div class="d-inline-block">
                                   <h2>Shaojun Wei</h2>
                               </div>
                                 <div class="d-inline-block">
                                  <h3>Software-defined AI Chip – with the Emphasis on Architecture Innovation</h3>
                                </div>
                                <ul class="blog-info-link">
                                  <li>
                                    <a class="el-item" data-toggle="collapse" href="#shaojunBG" role="button" aria-expanded="false" aria-controls="shaojunBG">
                                      <i class="fa fa-user"></i> BIOGRAPHY
                                    </a>
                                  </li>
                                  <li>
                                     <a class="el-item" data-toggle="collapse" href="#shaojunAB" role="button" aria-expanded="false" aria-controls="shaojunAB">
                                       <i class="fa fa-comments"></i> ABSTRACT
                                     </a>
                                  </li>
                                </ul>
                                <div class="collapse" id="shaojunBG">
                                  <div class="card card-body">
                                    <p>Dr. Shaojun Wei graduated from the Department of Radio & Electronics of Tsinghua University, China, in 1984 and received his Master degree in engineering. He received his Doctor degree in Applied Science from the Faculté Polytechnique de Mons (FPMs), Belgium, in 1991.</p>
                                    <p>Dr. Shaojun Wei is now the professor of Tsinghua University; Chief Scientist of the State Key Science and Technology Project; Member of the National Integrated Circuit Industry Development Advisory Committee; Vice President of China Semiconductor Industry Association (CSIA) and President of Fabless Chapter CSIA. Dr. Wei was the President & CEO of Datang Telecom Technology Co., Ltd. and the CTO of Datang Telecom Industry Group between 2001-2006.</p>
                                    <p>Dr. Wei has been working on VLSI design methodologies research and reconfigurable computing technology research. He has published more than 200 peer-reviewed papers and 6 monographs. He owns more than 130 patents including 18 US patents. Dr. Wei is the Fellow of Chinese Institute of Electronics (CIE) and the IEEE Fellow.</p>
                                    <p>Dr. Wei had won many awards including China National Second Award for Technology Invention (2015), China National Second Award for Technology Progress (2001), SIPO & WIPO Patent Golden Award (2003, 2015), First Award for Science and Technology of Ministry of Education (2014, 2019), China, First Award for Technology Invention of CIE (2012, 2017), EETimes China IC Design Achievement Award (2018), Aspencore Outstanding Contribution Award of the Year/Global Electronic Achievement Awards (2018) and SEMI Special Contribution Award (2019) and etc. He was selected to be the recipient of the 2020 IEEE CAS Industrial Pioneer Award.</p>
                                  </div>
                                </div>
                                 <div class="collapse" id="shaojunAB">
                                   <div class="card card-body">
                                     <p>Over the past decades, Application Specific Integrated Circuit (ASIC) is employed to meet specific system requirements. A wide variety and small volume are the advantages of ASIC. However, the diversity of applications contradicts the high investment in ASIC R&D while process technology going to 1Xnm. To realize an ASIC corresponding to the application in a low-cost way, a hardware scheme with the same topology as the C/C++ description should be the most direct implementation and the most efficient as well. Reconfigurable chip is both software and hardware programable. The hardware architecture and functions change dynamically in real-time with the change of software algorithm while ensuring flexibility. Thus it is also called a software-defined chip. The wide adaptability of the software-defined chip makes it a strong competitor to replace ASIC, FPGA, and general-purpose processors.</p>
                                     <p>Artificial intelligence (AI) is ubiquitous and AI chip has become a research hotspot in recent years. AI algorithms vary in different applications and will continue to evolve. AI services are migrating from cloud to edge nowadays. Performance demands and power consumption constraints require AI to deployed on an energy-efficient computing engine. Reconfigurable architecture is the ideal solution for intelligent computing since its programmability and dynamic reconfigurability of architecture can adapt algorithm evolution and diversity of applications and greatly improves energy efficiency as well.</p>
                                     <p>Dynamically reconfigurable technology brings the ability to bear the diversity and evolution of AI algorithms. Software-defined AI chips are expected to provide a new route for China's chip technology to get rid of imitation.</p>
                                   </div>
                                 </div>

                             </div>
                          <!-- </div> -->
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </section>
        <section class="blog_area single-post-area mb-50">
           <div class="container">
              <div class="row">
                 <div class="col-12 posts-list">
                    <div class="blog-author">
                       <div class="media">
                         <div class="container">
                            <img src="../static/img/blog/youngkai_chen.png" alt="">
                          </div>
                          <!-- <div class="media-body"> -->
                             <div class="blog_details col-8">
                               <div class="d-inline-block">
                                   <h2>Young-Kai (Y.K.) Chen</h2>
                               </div>
                                 <div class="d-inline-block">
                                  <h3>Emerging AI Processing for Wireless Applications</h3>
                                </div>
                                <ul class="blog-info-link">
                                  <li>
                                    <a class="el-item" data-toggle="collapse" href="#ykchenBG" role="button" aria-expanded="false" aria-controls="ykchenBG">
                                      <i class="fa fa-user"></i> BIOGRAPHY
                                    </a>
                                  </li>
                                  <li>
                                     <a class="el-item" data-toggle="collapse" href="#ykchenAB" role="button" aria-expanded="false" aria-controls="ykchenAB">
                                       <i class="fa fa-comments"></i> ABSTRACT
                                     </a>
                                  </li>
                                </ul>
                                <div class="collapse" id="ykchenBG">
                                  <div class="card card-body">
                                    <p>Dr. Young-Kai (Y.K.) Chen, is a Program Manager with the Microsystems Technology Office at DARPA. Before joined DARPA in September 2017, he was a Senior Director at Nokia Bell Labs supporting research groups to develop high speed electronics and optoelectronics for advanced wireless and optic fiber communication networks. Dr. Chen and his teams had contributed to first commercial integrated DFB-EAM devices, silicon-based frontend ICs for 3G/4G/5G millimeter-wave backhaul radios, and launched the first commercial 100Gbps optical transponders in 2011. His team also developed silicon photonics ICs for microwave photonics and 100G data links.</p>
                                    <p>Dr. Chen received his Ph.D. degree from Cornell University. He was an Adjunct Professor at Columbia University, National Taiwan University and National Chiao-Tung University. Dr. Chen is a Fellow of Bell Labs, IEEE and OSA, a member of the Academia Sinica and National Academy of Engineering, and a recipient of IEEE David Sarnoff Award and Edison Patent Award.</p>
                                    </div>
                                </div>
                                 <div class="collapse" id="ykchenAB">
                                   <div class="card card-body">
                                     <p>The emerging artificial intelligence and machine learning techniques promise new solutions and capabilities to unify the human world with the physical world and digital world together. This talk will illustrate a few challenges and solutions on utilizing artificial intelligence to enable next generation wireless communications.</p>
                                     </div>
                                 </div>

                             </div>
                          <!-- </div> -->
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </section>

        <!--================Blog Area =================-->

    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area">
            <div class="container">
               <div class="footer-top footer-padding">
                   <div class="row justify-content-center">
                       <div class="col-lg-6">
                            <div class="footer-top-cap text-center">
                                <img src="../static/img/logo/logo2_footer.png" alt="">
                                <!-- <span><a href="#">hireme@portfolio.com</a></span> -->
                                <p>Email: aicas2021gc@gmail.com</p>
                            </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./../static/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./../static/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./../static/js/popper.min.js"></script>
        <script src="./../static/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./../static/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./../static/js/owl.carousel.min.js"></script>
        <script src="./../static/js/slick.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="./../static/js/wow.min.js"></script>
		<script src="./../static/js/animated.headline.js"></script>
        <script src="./../static/js/jquery.magnific-popup.js"></script>

		<!-- Nice-select, sticky -->
        <script src="./../static/js/jquery.nice-select.min.js"></script>
		<script src="./../static/js/jquery.sticky.js"></script>

        <!-- contact js -->
        <script src="./../static/js/contact.js"></script>
        <script src="./../static/js/jquery.form.js"></script>
        <script src="./../static/js/jquery.validate.min.js"></script>
        <script src="./../static/js/mail-script.js"></script>
        <script src="./../static/js/jquery.ajaxchimp.min.js"></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src="./../static/js/plugins.js"></script>
        <script src="./../static/js/main.js"></script>

    </body>
</html>
